
table {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}


.tablett {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #ffe285;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}


.maintt {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

img {
    vertical-align: middle;
    display: inline-block;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
}

.title {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 20px;
}

/* Style for the modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8); /* Black background with transparency */
}

/* Modal content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensures image doesn't get cropped */
}

/* Close button styling */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
